* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-image: url("./Yash-Assets/bg.svg");
    overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
    height: 8rem;
}

.up-btn {
    box-shadow: 0 0 5px 1px #00000095;
    background-color: #fff;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 80%;
    z-index: 1;
}

@media screen and (min-width:768px) {
    .up-btn {
        left: 90%;
    }
}

.up-btn  a {
    color: #035e88;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.up-btn:hover a {
    color: #fff;
}

.up-btn::after {
    content: '';
    background-color: #035e88;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: top 0.3s ease-in-out;
}

.up-btn:hover::after {
    top: 0;
}

/* Anand's Work */

.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: center;
    
}
.upperpart{
    padding: 0 3%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

/* Left part of navbar */
.leftside ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.leftside ul li{
    margin: 1vw;
}

.leftside ul li a:hover {
    color: #035e88;
}

.leftside .leftlist li a{
    text-decoration: none;
    color: black;
}
.leftside a:hover{
    color: blue;
}

/* Right part of the navbar */
.rightside ul{
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    align-items: center;
    margin-left: auto;
}
.rightside ul li{
    margin: .65vw;
    display: flex;
}
.rightside ul li span a{
    text-decoration: none;
    color: black;
}
.globe , .login{
    display: flex;
    align-items: center;
    margin-top: .7vh;
    margin-left: .5vw;
}
.rightside button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.rightside img{
    cursor: pointer;
}
.rightside .btn3 {
    display: none; 
}

/* Nav-bar upperpart Css ends here......!!!!!!!! */

/* lowerpart css */

.lowerpart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4%;
}

/* left part Css of label div */
.label_div{
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    /* border: 2px solid black; */
}
.label_div_leftpart ul{
    display: flex;
    list-style: none;
    /* margin-left: 4.9rem; */
    gap: 2vw;
}


.label_div_leftpart ul li a{
    text-decoration: none; 
    color: black;
    display: flex;
    /* align-items: center; */
    font-size: 1.6rem;
}
.img1{
    width: 65px;
}
.rotate {
    transition: transform 0s; 
}

.rotate:hover {
    transform: rotate(-180deg);
    /* color: blue; */
}

/* right part Css of lebel div */

.label_div_rightpart {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    /* margin-right: 6.5vw; */
}

.label_div_rightpart ul {
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.label_div_rightpart ul li {
    margin: 0 1vw; 
}

.label_div_rightpart ul a {
    display: flex; 
    align-items: center; 
}
.navbar2{
    display: none;
}



/* Main div Css starts here.........!!!!!!!!!!! */
.main{
    width: 100%;
    height: 600px;
    background-image: url(assets/asset\ 4.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius: 75px;
    position: relative;
    z-index: 1;
}
.firstimage {
    position:absolute;
    z-index: 1;
    left: 7vw;
    height: 140px;
    /* top: .vh; */
}
.btn2{
position:absolute;
z-index: 1;
top: 8vh; 
right: 6vw;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
width: 60px;
height: 60px;
border-radius: 5px;
border: none;
color: #035e88;
font-size: 2rem;
box-shadow: 0px 0px 5px 1px #00000095;
transition: color 0.3s ease-in-out;
}
.btn2:hover {
    color: white; 
}

.btn2::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #035e88;
    transition: top 0.3s ease-in-out;
}

.btn2:hover::after {
    top: 0;
}
.btn2:hover .button-image {
    content: url('assets/filled_triangle_left_side.svg'); 
    opacity: 0; 
}
.btn2:hover .button-image {
    opacity: 0; 
}
.btn2:hover .button-image {
    content: url('assets/emptyarrow.svg'); 
    opacity: 1;
}
.main_part_3{
    width: 800px;
    position: absolute;
    z-index: 2;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    gap:60px;
    background-color: #9C2677;
    /* padding: 40px; */
    border-top-right-radius: 90px ;
    top: 550px;
    left: 80px;
    justify-content: center;
}
.main_part_3 p{
    margin-left: 120px;
    margin-right: 120px;
    overflow-y: hidden;
    font-size: 1.6rem;
    /* margin-top: 50px; */
}
.main_part_3 h1{
    font-size: 2rem;
    margin-left: 120px;
    margin-right: 120px;
    overflow-y: hidden;
    margin-top: 40px;
}
.paradiv{
    display: none;
}

@media screen and (max-width: 990px) {
    /* navbar Media quarry ............ */
    

    .navbar{
        height: 65px;
    }
    .navbar > div, 
    .label_div ul {
        display: none;
    }
    .navbar {
        border: none; 
    }
    /* navbar 2 css     */
.navbar2{
    display: flex !important;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    /* margin-top: 50px; */
}


#check{
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 800;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    
}

.menu li:first-child {
    margin-top: 50px; /* Adjust this value as needed */
}
.menu li a{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* display: inline-block; */
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px;
    /* padding-bottom: 20px; */
    border-bottom: 1px solid lightgray;
}

.open-menu , .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: black;
    display: block;
}
#check:checked ~ .menu{left:0;}
.open-menu{
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 15px;
    left: 20px;
}
.img1{
    width: 65px;
}
.navbar2 ul{
    display: flex;
}
.navbar2 ul li{
    display: flex;
    margin: 1vw;
    align-items: center;
}
.navbar2 button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: blue;
}
.navbar2_left{
    margin-left: 20px;
}
.navbar2_right{
    margin-right: 20px;
}
.img2{
    width: 65px;
    margin-left: 25px;
}

/* main div media quarry .............. */



.main_part_1 img{
    position: relative;
    left: 0;
}

/* .main{
    need the bakcground changed images to use
    background-image: url('');
} */
.main_part_3{
    display: none;
}
.paradiv{
    display: block;
    width: 80%;
    margin: 20px 40px;
}
.paradiv h1{
    font-size: 2.5em;
    font-weight: 400;
    padding-bottom: 20px;
}
.paradiv p{
    font-size: 19px ;
    font-weight: 300;
}
}

/* Anand Style end here */

/* Yash style start from here */
.container {
    /* width: 100%; */
    max-width: 1920px;
    margin: 0 auto;
}

.hr {
    margin: 4% 0 0.5%;
    border: 1px solid black;
}

.things-to-do, .plan-ahead {
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    margin-top: 9%;
}

.plan-ahead {
    margin: 0;
}

.heading {
    font-size: 2rem;
    padding: 0% 3% 1.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width:784px) {
    .heading {
        font-size: 3.2rem;
    }
}

@media screen and (min-width:991px) and (max-width:1099px) {
    .heading {
        width: 70%;
    }
}

.scroll-btn {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    display: none;
}

@media screen and (min-width:991px) and (max-width:1099px) {
    .scroll-btn {
        display: flex;
    }
}

.scroll-btn button {
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-size: 3rem;
    color: #035e88;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #0000003d;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

.scroll-btn button:hover {
    color: white;
}

.scroll-btn .left::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
    background-color: #035e88;
    z-index: -1;
}

.scroll-btn .right::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right 0.3s ease-in-out;
    background-color: #035e88;
    z-index: -1;
}

.scroll-btn .left:hover::before {
    left: 0;
}

.scroll-btn .right:hover::before {
    right: 0;
}

.cards-container-1 {
    padding: 0 4%;
    margin-bottom: 5rem;
    display: flex;
    gap: 2.5%;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.cards-1 {
    background-color: #035e88;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 5px;
    overflow: hidden;

}

@media screen and (min-width:480px) {
    .cards-1 {
        width: 50%;
    }
}

@media screen and (min-width:764px) {
    .cards-1 {
        width: 33%;
    }
}

@media screen and (min-width:1199px) {
    .cards-1 {
        width: 23%;
    }
}

.image-1 {
    overflow: hidden;
}

.image-1>img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 1s ease-in-out;
}

.image-1>img:hover {
    transform: scale(1.1);
}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 6%;
    line-height: 2.5rem;
}

.text-1>h4 {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.9);
}

.text-1>a {
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
}

.text-1>a:hover {
    text-decoration: underline;
}

.text-1>p {
    font-size: 2rem;
    word-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.7);
}

.btn-1 {
    margin: auto 6.6% 7%;
}

.btn-1>button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: fit-content;
    padding: 5% 8%;
    cursor: pointer;
}

.btn-1>button>a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

.what-happening {
    width: 100%;
    padding: 2% 6% 5%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
}

@media screen and (min-width:1198px) {
    .what-happening {
        padding-left: 10%;
        padding-right: 4%;
    }
}

.what-happening::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 45%;
    background-color: #035e88;
    border-radius: 5px;
    border-top-left-radius: 5rem;
}

@media screen and (min-width:1198px) {
    .what-happening::before {
        left: 4%;
        right: 4%;
        border-top-left-radius: 8rem;
    }
}

.what-happening h1 {
    font-size: 2rem;
    color: #fff;
}

@media screen and (min-width:600px) {
    .what-happening h1 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width:768px) {
    .what-happening h1 {
        font-size: 4rem;
    }
}

.dubai-24 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: #fff;
    border-top-left-radius: 8rem;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:768px) {
    .dubai-24 {
        flex-direction: row;
    }
}

.image-2 {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .image-2 {
        width: 35%;
    }
}

.image-2 img {
    width: 100%;
    border-radius: 8rem 0 0 0;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.image-2 img:hover {
    transform: scale(1.1);
}

.text-2 {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    color: black;
}

@media screen and (min-width:768px) {
    .text-2 {
        width: 50%;
    }
}

.text-2 h4 {
    color: #00000095;
    font-size: 1.4rem;
}

.paras-1 a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .paras-1 a {
        font-size: 2.4rem;
    }
}

.paras-1 a:hover {
    text-decoration: underline;
}

.paras-1 p {
    color: #00000095;
    font-size: 1.4rem;
}

@media screen and (min-width:768px) {
    .paras-1 p {
        font-size: 1.6rem;
    }
}

.btn-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-2 a {
    color: #035e88;
    text-decoration: none;
    padding-top: 0.6rem;
}

.btn-2 a:hover {
    text-decoration: underline;
}

.btn-2 i {
    color: #035e88;
    font-size: 1.4rem;
}

.in-dubai {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cards-container-2 {
    display: flex;
    margin: 2% 0 0;
    flex-direction: column;
    gap: 2rem;
    padding: 0 6% 1%;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
}

@media screen and (min-width:766px) {
    .cards-container-2 {
        flex-direction: row;
        gap: 5rem;
        padding: 0 10%;
    }
}

.cards-2 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:766px) {
    .cards-2 {
        width: 50%;
    }
}

@media screen and (min-width:767px) {
    .cards-2 {
        width: 34%;
    }
}

.image-3 {
    width: 100%;
    position: relative;
}

.image-3 img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.image-3 img:hover {
    transform: scale(1.05);
}

.cards-2 .image-3 button {
    position: absolute;
    bottom: -3rem;
    right: 2rem;
}

.image-3 button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #0000003d;
    position: relative;
    bottom: 11rem;
    right: 19%;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    z-index: 1;
    color: #035e88;
}

@media screen and (min-width:767px) {
    .image-3 button {
        right: 10%;
    }
}

.image-3 button:hover {
    color: #fff;
}

.image-3 button::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #035e88;
    transition: top 0.3s ease-in-out;
}

.image-3 button:hover::before {
    top: 0;
}

.cards-2 a {
    color: black;
    text-decoration: none;
    padding: 4% 20% 4% 4%;
    font-size: 2rem;
    width: fit-content;
}

.cards-2 a:hover {
    text-decoration: underline;
}

.cards-2 p {
    color: #00000095;
    font-size: 1.6rem;
    padding: 0 4%;
}

.more {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 10% 2%;
    margin-top: -2%;
}

.more a {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.05% 0 0 0;
    color: #035e88;
}

.more a:hover {
    text-decoration: underline;
}

.more i {
    padding-top: 0.3%;
    font-size: 1.4rem;
    align-self: center;
    color: #035e88;
}

.watch-videos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4% 7%;
}

.watch-videos h1 {
    font-size: 3rem;
}

.cards-container-3 {
    display: flex;
    gap: 2.5%;
    padding: 0 1%;
    gap: 3.5%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
}

.cards-3 {
    width: 45%;
    height: 40rem;
    flex: 0 0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width:1000px) {
    .cards-3 {
        width: 17%;
    }
}

.cards-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

.cards-3 img:hover {
    transform: scale(1.1);
}

.context-1 {
    position: absolute;
    bottom: 4%;
    left: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
}

.context-1 a {
    text-decoration: none;
    font-size: 1.6rem;
    padding-top: 4%;
    color: #fff;
}

.context-1 a:hover {
    text-decoration: underline;
}

.context-1 i {
    background-color: #fff;
    padding: 6%;
    margin-right: 3%;
    border-radius: 50%;
    color: #035e88;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .context-1 a {
        font-size: 2.4rem;
    }

    .context-1 i {
        font-size: 1.8rem;
    }
}

.btn-3 {
    width: 100%;
    padding: 0 1%;
    background-color: #035e88;
    border-radius: 5px;
    text-align: center;
}

@media screen and (min-width:1000px) {
    .btn-3 {
        background-color: transparent;
        text-align: left;
    }
}

.btn-3 a {
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 0.8rem;
    color: #fff;
}

@media screen and (min-width:1000px) {
    .btn-3 a {
        color: #035e88;
    }
}

.btn-3 a:hover {
    text-decoration: underline;
}

.btn-3 i {
    color: #035e88;
    font-size: 1.6rem;
}

.be-inspired {
    display: flex;
    flex-direction: column;
    padding: 0 7% 5%;
    gap: 2rem;
}

.be-inspired h1 {
    font-size: 3rem;
}

.cards-container-4 {
    display: flex;
    gap: 5%;
    padding: 0 1%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #0000004b transparent;
}

.cards-4 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 1% 2%;
}

@media screen and (min-width:992px) {
    .cards-4 {
        flex-direction: row;
    }
}

.image-container-1 {
    display: flex;
    gap: 0.5%;
    width: 100%;
    cursor: pointer;
}

.image-4 {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
}

.image-4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5rem;
    box-shadow: 0px 0px 2px 2px #0000003d;
}

.image-5 {
    display: flex;
    flex-direction: column;
    gap: 0.8%;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.image-5 img {
    object-fit: cover;
    width: 100%;
    height: 49.5%;
    box-shadow: 0px 0px 2px 2px #0000003d;
}

.text-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4% 0;
    gap: 5rem;
}

.text-3 h4 {
    color: #00000095;
    font-size: 2rem;
}

.text-3 p {
    font-size: 2rem;
    color: #00000095;
}

.paras-2 {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.paras-2 a {
    color: #000;
    font-size: 3rem;
    text-decoration: none;
}

.paras-2 a:hover {
    text-decoration: underline;
}

.paras-2 p {
    font-size: 2rem;
    color: #00000095;
}

.more-2 {
    padding: 0 3%;
}

.more-2 a {
    color: #035e88;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 0.5%;
}

.more-2 a:hover {
    text-decoration: underline;
}

.more-2 i {
    font-size: 1.8rem;
    color: #035e88;
    padding-top: 0.5%;
}

.find-things,
.events {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2% 7%;
}

.find-things h1,
.events h1 {
    font-size: 3rem;
}

.nav-1 {
    padding: 2%;
    overflow-x: scroll;
    scrollbar-color: #0000004b transparent;
}

@media screen and (min-width:989px) {
    .nav-1 {
        scrollbar-color: transparent transparent;
    }
}

.nav-1 ul {
    display: flex;
    gap: 1.1%;
    list-style: none;
    font-size: 2rem;
}

.nav-1 ul li {
    background-color: whitesmoke;
    padding: 0.5% 1.5%;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.nav-1 ul li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #00000095;
    transition: right 0.5s ease-in-out;
}

.nav-1 ul li:hover::after {
    right: 0;
}

.nav-1 ul li a {
    color: #00000095;
    font-size: 2rem;
    z-index: 1;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.nav-1 ul li:hover a {
    color: #fff;
}

.nav-1 ul li:first-child {
    background-color: #00000095;
}

.nav-1 ul li:first-child a {
    color: #fff;
}

.cards-container-5 {
    display: flex;
    gap: 2%;
    padding: 1% 2%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
}

.cards-5 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width:480px) {
    .cards-5 {
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    .cards-5 {
        width: 30%;
    }
}

.image-6 {
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.image-6 img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.image-6 img:hover {
    transform: scale(1.1);
}

.text-4 {
    display: flex;
    padding: 0 0 0 2%;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

.text-4 button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #00000095;
    width: 60px;
    height: 60px;
    color: #035e88;
    position: relative;
    top: -5rem;
    left: 70%;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease-in-out;
    font-size: 2rem;
}

.text-4 button:hover {
    color: #fff;
}

.text-4 button::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #035e88;
    transition: top 0.3s ease-in-out;
}

.text-4 button:hover::after {
    top: 0;
}

.text-4 h4 {
    font-size: 2rem;
    color: #00000095;
    margin-top: -10%;
}

.text-4 a {
    text-decoration: none;
    font-size: 2.4rem;
    color: black;
}

.text-4 a:hover {
    text-decoration: underline;
}

.text-4 p {
    font-size: 1.6rem;
    color: #00000095;
}

.text-4 h5 {
    font-size: 1.6rem;
    font-weight: 900;
}

.remind {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    color: #035e88;
    margin: 2% 0;
    position: relative;
}

.remind i {
    cursor: pointer;
}

.remind p {
    font-size: 2rem;
    color: #035e88;
    cursor: pointer;
}

.right-plus {
    position: absolute;
    right: 1.5rem;
}

/* Nimesh work here */

.location-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.location {
    width: 100%;
    padding: 2% 7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.location > h1 {
    font-size: 3rem;
}

.location > p {
    font-size: 2rem;
    color: #00000095;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5% 2%;
}

.map > iframe {
    width: 100%;
    height: 600px;
    border-radius: 8px;
}

.pin {
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    cursor: pointer;
    gap: 2rem;
    display: none;
}

@media screen and (min-width:768px) {
    .pin {
        display: flex;
    }
}

.pin blockquote {
    display: flex;
    gap: 1rem;
    width: 48%;
}

@media screen and (min-width:990px) {
    .pin blockquote {
        width: 25%;
    }
}

@media screen and (min-width:1344px) {
    .pin  blockquote {
        width: 32%;
    }
}

.pin blockquote:hover i {
    color: #035e88;
}

.discount-offer {
    display: flex;
    flex-direction: column;
    gap: -1rem;
    position: relative;
    padding: 0.5% 7%;
}

@media screen and (min-width:990px) {
    .discount-offer {
        flex-direction: row;
    }
}

.image-7 {
    width: 100%;
}

@media screen and (min-width:990px) {
    .image-7 {
        width: 50%;
    }
}

.image-7 img {
    width: 100%;
    border-radius: 5px;
}

.discount-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #9C2677;
    border-radius: 0 0 8rem;
    padding: 7%;
}

@media screen and (min-width:990px) {
    .discount-text {
        gap: 5rem;
        color: #fff;
        border-radius: 10rem 0 10rem 0;
        position: absolute;
        top: 10%;
        left: 45%;
    }
}

@media screen and (min-width:991px) and (max-width:1137px) {
    .discount-text {
        top: 8%;
        gap: 2.5rem;
    }
}

.discount-text a {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}

.discount-text a:hover {
    text-decoration: underline;
}

.discount-text p {
    font-size: 2rem;
    color: #ffffffc2;
}

.discount-text button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 3%;
    color: white;
}
.Weather {
    background-color: #f5f5f5;
  

    h4 {
        font-size: 3.2rem;
        font-weight: 600;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.weather-container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;
}
.temp {
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.9rem;
    }
    
.mist {
    font-size: 2.9rem;
}

}
.left img {
    height: 10rem;
    margin-top: -4rem;
    
}
.left h2 {
    
    font-size: 1.4rem;
    font-weight: 400;
}
.right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.weather-conditions {
    text-align: center;
    h4 {
        font-size: 2rem;
        font-weight: bold;

        color: rgb(135, 4, 191)
    }
    h5 {
        font-size: 2.1rem;
        font-weight: 300;
        margin-top: -rem;
        padding-left: 2rem;
        text-align: center;
        
    }
}
.Celcius {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-evenly;
    font-size: 1.9rem;
}
.learn-more {
    display: flex;
    justify-content: ;
    gap: 12rem;
    font-weight: bold;
    margin-left: -20rem;
   
}
.Farenheit {
    color: rgb(0, 120, 168);
}
.learn-btn {

    a {

        color: rgb(0, 120, 168);
        text-decoration: none;
        font-weight: bold;
        
    }
}
.weather-border {
    border-bottom: 4px solid rgba(143, 3, 113, 0.698);
    margin-top: 2rem;
}
@media screen and (max-width: 800px){
    .column {
        flex-direction: column;
    }
}
@media screen and (max-width: 820px) {
    .weather-container {
        flex-direction: column;
        .right {
            padding-top: 3rem;
        }
       
    }
}
@media screen and (max-width: 650px) {
    .Celcius {
        flex-direction: column;
    }

}
@media screen and (max-width: 650px) {
    .learn-btn {
        padding-left: -22rem;
      
    }
}
 /*Nimesh work ends here */

/* Jeet CSS for Footer */
.for-flex {
    padding-left: 5%;
    padding-right: 5%; 
   
  }
  .stay-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Roboto Serif", serif;
    
  }
    
    .stay-updated, .download-apps {
      display: flex;
      flex-direction: column;
 
    }
    
  .stay-update-heading {
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2.7rem;

  }
    
    .stay-updated p {
      margin-bottom: 10px;
      font-size: 1.8rem;
      color: #505050;
    }
    
    .stay-updated form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* width: 25%; */
      gap: 1.5rem;
      padding-bottom: 15px;
      
    }
    
    .stay-updated input[type="email"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .stay-updated button {
      padding: 10px;
      background-color: #a8a3a5f2;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .download-apps .app-icons {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      width: 25%;
      gap: 15rem;
    }
    
    .download-apps .app-icons img {
      width: 100px;
    }
    
    .download-apps a {
      text-decoration: none;
      color: #bdbdbd;
    }
 
  .main-footer {
    background-color:  #035e88;
    padding-left: 5%;
    padding-right: 5%;
  }
 .nav {
    padding-top: 2.2rem;
 }
 .logo {
     cursor: pointer;
 
 }
 
 .jeet-icons {
     display: flex;
     flex-wrap: wrap;
     text-align: left;
     list-style: none;
     padding-left: 20px;
     padding-top: 10px;
     padding-right: 40px;
     gap: 1.5rem;
     align-items: bottom;
     min-width: 3rem;
     
     
 
  .facebook, .instagram, .trip, .twitter, .youtube {
    color: #fff;
   font-size: 3rem;
  }
 }
  .footer {
   
    color: white;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }
  .column{
    padding-top: 25px;
    padding-bottom: 25px;
    h3 {
        font-size: 2rem;
    }
    a {
        font-size: 1.9rem;
    }
  }
  .footer .column {
    flex: 1;
    min-width: 6.25rem;
    margin: 10px;
  }
  .footer .column h3 {
    /* border-bottom: 1px solid white; */
    padding-bottom: 10px;
  }
  .footer .column ul {
    list-style: none;
    padding: 0;
  }
  .footer .column ul li {
    margin: 10px 0;
  }
  .footer .column ul li a {
    color: white;
    text-decoration: none;
  }
  .footer .column ul li a:hover {
    text-decoration: underline;
  }
 .border{
    padding: 19px 25px;
    position: relative;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    overflow: hidden;
 }
  @media screen and (max-width: 1370px) {
    .logo {
      display: none;
    }
    
  }
  @media screen and (max-width: 950px) {
    .column {
      text-align: left;
    }
    
  }
  @media screen and (max-width: 850px) {
    .download-apps {
      
    /* display: none; */
    flex-direction: column;
    width: 100%;
    }
    .stay-container {
      flex-direction: column;
    }
    
  }
  @media screen and (max-width: 800px){
    .footer {
        flex-direction: column;
    }
 
  }
@media screen and (max-width: 800px) {
    .jeet-icons {
        align-items: center;
        text-align: center;
    }
}

 

  .header-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
    /* padding: 0 20px; */
    padding-bottom: 50px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  
  .header-left nav a {
    color: white;
    text-decoration: none;
    /* margin: 0 10px; */
    font-size: 1.9rem;

  }

 
  .header-right p {
    margin: 0;
    text-align: left;
    font-size: 1.9rem;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    
  }
  .copy-right {
    color: #fff;
    font-size: 1.9rem;
    padding-top: 20px;

  }
  .header-right p {
    font-size: 1.9rem;
    color: #fff;
  }
  .header-center p {
    font-size: 1.9rem;
    color: #fff;
  }
  nav a:hover {
    text-decoration: underline;
  }