* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url("./Yash-Assets/bg.svg");
  overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
  height: 8rem;
}

.up-btn {
  box-shadow: 0 0 5px 1px #00000095;
  background-color: #fff;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 80%;
  z-index: 1;
}

@media screen and (min-width:768px) {
  .up-btn {
      left: 90%;
  }
}

.up-btn  a {
  color: #035e88;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.up-btn:hover a {
  color: #fff;
}

.up-btn::after {
  content: '';
  background-color: #035e88;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: top 0.3s ease-in-out;
}

.up-btn:hover::after {
  top: 0;
}

/* Anand's Work */

.navbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  
}
.upperpart{
  padding: 0 3%;
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}

/* Left part of navbar */
.leftside ul{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.leftside ul li{
  margin: 1vw;
}

.leftside ul li a:hover {
  color: #035e88;
}

.leftside .leftlist li a{
  text-decoration: none;
  color: black;
}
.leftside a:hover{
  color: blue;
}

/* Right part of the navbar */
.rightside ul{
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  align-items: center;
  margin-left: auto;
}
.rightside ul li{
  margin: .65vw;
  display: flex;
}
.rightside ul li span a{
  text-decoration: none;
  color: black;
}
.globe , .login{
  display: flex;
  align-items: center;
  margin-top: .7vh;
  margin-left: .5vw;
}
.rightside button{
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.rightside img{
  cursor: pointer;
}
.rightside .btn3 {
  display: none; 
}

/* Nav-bar upperpart Css ends here......!!!!!!!! */

/* lowerpart css */

.lowerpart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4%;
}

/* left part Css of label div */
.label_div{
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  /* border: 2px solid black; */
}
.label_div_leftpart ul{
  display: flex;
  list-style: none;
  /* margin-left: 4.9rem; */
  gap: 2vw;
}


.label_div_leftpart ul li a{
  text-decoration: none; 
  color: black;
  display: flex;
  /* align-items: center; */
  font-size: 1.6rem;
}
.img1{
  width: 65px;
}
.rotate {
  transition: transform 0s; 
}

.rotate:hover {
  transform: rotate(-180deg);
  /* color: blue; */
}

/* right part Css of lebel div */

.label_div_rightpart {
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
  /* margin-right: 6.5vw; */
}

.label_div_rightpart ul {
  display: flex;
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.label_div_rightpart ul li {
  margin: 0 1vw; 
}

.label_div_rightpart ul a {
  display: flex; 
  align-items: center; 
}
.navbar2{
  display: none;
}

.container {
    padding-left: 15%;
    padding-right: 15%; 
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #505050;
    background-color: #eeeeee;
    
}
.top-trerms {
    display: flex;


}
.terms-heading {
    font-weight: 550;
    font-size: 3rem;
}
.terms-para {
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #505050;

}   
.jump-link img {
    transform: rotate(45deg);
    padding-right: 20px;
    padding-top: 10px;
}
.jump-link {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
li a {
    color: #505050;
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
 
}
.background-para, .Other-para, .Age-restriction, .Accessing, .Intellectual, .Disclaimer, .Dubai, .contacts p {
    color: #505050;
    font-size: 1.4rem;
    font-family: Arial, sans-serif

}
.background-para h3 {
    color: #222020;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.for-flex {
    padding-left: 5%;
    padding-right: 5%; 
   
  }
  .stay-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Roboto Serif", serif;
    
  }
    
    .stay-updated, .download-apps {
      display: flex;
      flex-direction: column;
 
    }
    
  .stay-update-heading {
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2.8rem;

  }
    
    .stay-updated p {
      margin-bottom: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
        font-size: 1.9rem;
        color: #505050;
}
    
    
    .stay-updated form {
      display: flex;
      flex-direction: row;
      width: 25%;
      gap: 1.5rem;
      padding-bottom: 15px;
      
    }
    
    .stay-updated input[type="email"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      height: 160%;
      
    }
    
    .stay-updated button {
      padding: 10px;
      background-color: #a8a3a5f2;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      height: 160%;
     
    }
    
    .download-apps .app-icons {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      width: 25%;
      gap: 12rem;
    }
    
    .download-apps .app-icons img {
      width: 100px;
    }
    
    .download-apps a {
      text-decoration: none;
      color: #bdbdbd;
    }
 
  .main-footer {
    background-color:  #035e88;
    padding-left: 5%;
    padding-right: 5%;
  }
 .nav {
    padding-top: 2.2rem;
 }
 .logo {
     cursor: pointer;
 
 }
 
 .jeet-icons {
     display: flex;
     flex-wrap: wrap;
     text-align: left;
     list-style: none;
     padding-left: 20px;
     padding-top: 10px;
     padding-right: 40px;
     gap: 1.5rem;
     align-items: bottom;
     min-width: 3rem;
     
     
 
  .facebook, .instagram, .trip, .twitter, .youtube {
    color: #fff;
   font-size: 1.8rem;
  }
 }
  .footer {
   
    color: white;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }
  .column{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer .column {
    flex: 1;
    min-width: 6.25rem;
    margin: 10px;
  }
  .footer .column h3 {
    /* border-bottom: 1px solid white; */
    padding-bottom: 10px;
    font-size: 2.2rem;
  }
  .footer .column ul {
    list-style: none;
    padding: 0;
  }
  .footer .column ul li {
    margin: 10px 0;
  }
  .footer .column ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.9rem;
  }
  .footer .column ul li a:hover {
    text-decoration: underline;
  }
 .border{
    padding: 19px 25px;
    position: relative;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    overflow: hidden;
 }
  @media screen and (max-width: 1000px) {
    .logo {
      display: none;
    }
    
  }
  @media screen and (max-width: 950px) {
    .column {
      text-align: left;
    }
    
  }
  @media screen and (max-width: 750px) {
    .download-apps {
      
    /* display: none; */
    flex-direction: column;
    width: 100%;
    }
    .stay-container {
      flex-direction: column;
    }
    .column {
        /* flex-direction: row; */
    }
    
  }


 

  .header-container {
    display: flex;
    justify-content: space-between;

    padding-bottom: 50px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  
  .header-left nav a {
    color: white;
    text-decoration: none;
    /* margin: 0 10px; */
    font-size: 1.9rem;
    

  }

 
  .header-right p {
    margin: 0;
    text-align: left;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    
  }
  .copy-right {
    color: #fff;
    font-size: 1.9rem;
    padding-top: 20px;

  }
  .header-right p {
    font-size: 1.9rem;
    color: #fff;
  }
  .header-center p {
    font-size: 1.2rem;
    color: #fff;
  }
  nav a:hover {
    text-decoration: underline;
  }
