* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    /* width: 100%; */
    max-width: 1920px;
    margin: 0 auto;
}

.hr {
    margin: 4% 0 0.5%;
    border: 1px solid black;
}

.things-to-do {
    display: flex;
    flex-direction: column;
    padding: 3% 0;
}

.heading {
    font-size: 2rem;
    padding: 0% 3% 1.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width:784px) {
    .heading {
        font-size: 3.2rem;
    }
}

@media screen and (min-width:991px) and (max-width:1099px) {
    .heading {
        width: 70%;
    }
}

.scroll-btn {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    display: none;
}

@media screen and (min-width:991px) and (max-width:1099px) {
    .scroll-btn {
        display: flex;
    }
}

.scroll-btn button {
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-size: 3rem;
    color: #035e88;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #0000003d;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

.scroll-btn button:hover {
    color: white;
}

.scroll-btn .left::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
    background-color: #035e88;
    z-index: -1;
}

.scroll-btn .right::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right 0.3s ease-in-out;
    background-color: #035e88;
    z-index: -1;
}

.scroll-btn .left:hover::before {
    left: 0;
}

.scroll-btn .right:hover::before {
    right: 0;
}

.cards-container-1 {
    padding: 0 4%;
    margin-bottom: 5rem;
    display: flex;
    gap: 2.5%;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.cards-1 {
    background-color: #035e88;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 5px;
    overflow: hidden;

}

@media screen and (min-width:480px) {
    .cards-1 {
        width: 50%;
    }
}

@media screen and (min-width:764px) {
    .cards-1 {
        width: 33%;
    }
}

@media screen and (min-width:1199px) {
    .cards-1 {
        width: 23%;
    }
}

.image-1 {
    overflow: hidden;
}

.image-1 > img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 1s ease-in-out;
}

.image-1 > img:hover {
    transform: scale(1.1);
}

.text-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 6%;
    line-height: 2.5rem;
}

.text-1 > h4 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
}

.text-1 > a {
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
}

.text-1 > a:hover {
    text-decoration: underline;
}

.text-1 > p {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
}

.btn-1 {
    margin: auto 6.6% 7%;
}

.btn-1 > button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: fit-content;
    padding: 1.5% 6%;
    cursor: pointer;
}

.btn-1 > button > a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}





/* Jeet CSS for Footer */
.for-flex {
    padding-left: 5%;
    padding-right: 5%; 
   
  }
  
  .stay-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Roboto Serif", serif;
    
  }
    
    .stay-updated, .download-apps {
      display: flex;
      flex-direction: column;
 
    }
    
  .stay-update-heading {
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.8rem;

  }
    
    .stay-updated p {
      margin-bottom: 10px;
      
    }
    
    .stay-updated form {
      display: flex;
      flex-direction: row;
      width: 25%;
      gap: 1.5rem;
      padding-bottom: 15px;
      
    }
    .stay-updated p {
        font-size: 1.2rem;
    }
    
    .stay-updated input[type="email"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .stay-updated button {
      padding: 10px;
      background-color: #a8a3a5f2;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .download-apps .app-icons {
      display: flex;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      width: 25%;
      gap: 12rem;
    }
    
    .download-apps .app-icons img {
      width: 100px;
    }
    
    .download-apps a {
      text-decoration: none;
      color: #bdbdbd;
    }
 
  .main-footer {
    background-color:  #035e88;
    padding-left: 5%;
    padding-right: 5%;
  }
 .nav {
    padding-top: 2.2rem;
 }
 .logo {
     cursor: pointer;
 
 }
 
 .jeet-icons {
     display: flex;
     flex-wrap: wrap;
     text-align: left;
     list-style: none;
     padding-left: 20px;
     padding-top: 10px;
     padding-right: 40px;
     gap: 1.5rem;
     align-items: bottom;
     min-width: 3rem;
     
     
 
  .facebook, .instagram, .trip, .twitter, .youtube {
    color: #fff;
   font-size: 1.8rem;
  }
 }
  .footer {
   
    color: white;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }
  .column{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer .column {
    flex: 1;
    min-width: 6.25rem;
    margin: 10px;
  }
  .footer .column h3 {
    /* border-bottom: 1px solid white; */
    padding-bottom: 10px;
  }
  .footer .column ul {
    list-style: none;
    padding: 0;
  }
  .footer .column ul li {
    margin: 10px 0;
  }
  .footer .column ul li a {
    color: white;
    text-decoration: none;
  }
  .footer .column ul li a:hover {
    text-decoration: underline;
  }
 .border{
    padding: 19px 25px;
    position: relative;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    overflow: hidden;
 }
  @media screen and (max-width: 1000px) {
    .logo {
      display: none;
    }
    
  }
  @media screen and (max-width: 950px) {
    .column {
      text-align: left;
    }
    
  }
  @media screen and (max-width: 750px) {
    .download-apps {
      
    /* display: none; */
    flex-direction: column;
    width: 100%;
    }
    .stay-container {
      flex-direction: column;
    }
    .column {
        /* flex-direction: row; */
    }
    
  }


 

  .header-container {
    display: flex;
    justify-content: space-between;

    padding-bottom: 50px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }
  
  .header-left nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    /* margin: 0 10px; */

  }
.column ul li a {
    font-size: 1.2rem;
}

 
  .header-right p {
    margin: 0;
    text-align: left;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    
  }
  .copy-right {
    color: #fff;
    padding-top: 15px;
    font-size: 1.2rem;

  }
  .header-right p {
    font-size: 1.2rem;
    color: #fff;
  }
  .header-center p {
    font-size: 1.2rem;
    color: #fff;
  }
  nav a:hover {
    text-decoration: underline;
  }