*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    height:8139px;
}
.nimesh-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
}

.explore{
    font-family: Dubai,Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #000000;
    width: 910px;
    height: 32px;
    margin-bottom: 13px;
}
.city{
    font-family: Dubai,Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #505050;
    width: 675px;
    height: 24px;
    margin-bottom: 40px;
    text-align: left;
}

.locators{
    cursor: pointer;
  display:grid;
  justify-content: center;
  grid-template-columns:300px 300px 300px;
  grid-template-rows:50px 50px 50px 50px 50px 50px;
  
}

.planahead{
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    letter-spacing: normal;
    color: #000000;
    display: flex;
    justify-content: center;
    
}

.plan-heading{
    width: 817px;
    height: 32px;
    font-family:Dubai,Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 22px;
    text-align: left;
    align-content: flex-start;
}

.item-1{
    overflow: hidden;
    border-radius: 2% 2%;
    height: 400px;
    text-align: start;
    font-size: 20px;
    color: #ffffff;
    background-color: #035e88;
    width: 249px;
    height: 439px;
}
.item-2{
    overflow: hidden;
    width: 249px;
    height: 439px;
    text-align: start;
    font-size: 20px;
    color: #ffffff;
    background-color: #035e88;

}
.item-3{
    overflow: hidden;
    width: 249px;
    height: 439px;
    text-align: start;
    font-size: 20px;
    color: #ffffff;
    background-color: #035e88;
    
}
.item-4{
    overflow: hidden;
    width: 249px;
    height: 439px;
    text-align: start;
    font-size: 20px;
    color: #ffffff;
    background-color: #035e88;
    
}
.items {
    font-family: Dubai, Arial, sans-serif;
    cursor: pointer;
    display:flex; 
    justify-content: center;
    justify-content: space-between;
    column-gap: 10px;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}
.planahead{
    padding: 20px,20px,20px,20px;
}
.img{
    overflow: hidden;
    transition: all 1s ease-in-out;
    width: 249px;
    height: 179px;
}
.img:hover{
    transform:scale(1.1);
}
.text{
    font-size:20px;
    width:239px;
    height:226px;
    padding: 21px,24px,86px,24px;
 }   


.line{
    border: 2x solid #9c2677;
    }
.button{
    margin-left: 20px;
    width: 150px;
    height: 46px;
    padding: 0px,0px,12px,0px;
    border: 2px solid #f5f5f5;
    color:#ffffff;
    background-color: #035e88;
    font-family: Dubai, Arial, sans-serif;
    padding: 10px 21px 10px 21px;
}
.button:hover{
    transform: scale(1.1);
}
.weather{  
    margin-left:50px;
    width: 100%;
    height: 257px; 
    font-family: Dubai, Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content:space-between;
    column-gap: 20px;
    
    
    
}
.parameters{
    margin-right: px;
    margin-top: 90px;
    display: flex;
justify-items: center;
align-self: center;


}
.sunrise{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.sunset{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.low{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.high{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.humidity{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.wind{
    width: 90px;
    height: 45px;
    padding-right: 20px;
}
.current-weather{
    width: 1096px;
    height: 32;
    font-size: 26px;
}
.value{
    color: #9c2677;
    font-display:bold;
    border: 2x solid #9c2677;
}
.temp{
    margin-top: 42px;
    margin-bottom: 10px;
width: 135px;
height: 75px;
font-size: 60px;
}
.moon{
    width: 120px;
    height: 120px;
}
.clear{
    line-height: 42px;
    font-size: 28px;
    width: 59px;
    height: 42px;
}
.unit{
    color: #035e88;
    margin-top: 10px;
    
}

.cel{
    margin-right: 23px;
}
.line{
    border: 2x solid #9c2677;
    height: 50px;
    color: #9c2677;
}

.banner{
    width: 1116px;
    height: 538px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 80px;
    .offer{
        width:800px;
        color: #ffffff;
        margin-top: 50px;
    background-color: #9c2677;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-size: 32px;
    .buy{
        color: #ffffff;
        background-color: #9c2677;
        width: 85px;
        height:64px;
        font-size: 16px;
        border-radius: 2%;
        border: 2x solid white;
         margin: 60px 80px 60px 80px;
    }
    }

}

